<tr>
    <td>{{ container.user }}</td>
    <td>{{ container.name }}</td>
    <td>{{ container.id }}</td>
    <td>{{ container.ports }}</td>
    <td>{{ container.status }}</td>
    <td>
        {% if 'Up' in container.status %}
            <a href="{{ path('container_stop', {'virtualMachine': container.vmid, 'idContainer': container.id}) }}"
               class="btn btn-warning btn-sm">Down</a>
        {% else %}
            <a href="{{ path('container_start', {'virtualMachine': container.vmid, 'idContainer': container.id}) }}"
               class="btn btn-success btn-sm">Run</a>
            <a href="{{ path('container_remove', {'virtualMachine': container.vmid, 'idContainer': container.id}) }}"
               class="btn btn-danger btn-sm"
               onclick="return confirm('Supprimer ce conteneur ?')">Delete</a>
        {% endif %}
    </td>
</tr>
