<div class="file-item">
    <div class="file-info">
        <i class="bi bi-file-earmark-text file-icon"></i>
        <span class="file-name">{{ gyr.yamlFile.nameFile }}</span>
    </div>
    <div class="file-actions">
        <i class="bi bi-eye view-icon" title="Afficher"
           onclick="afficherContenuYamlFile('{{ gyr.yamlFile.bodyFile|escape('js') }}')"></i>
        <i class="bi bi-download download-icon" title="Télécharger"
           onclick="downloadYamlFile('{{ gyr.yamlFile.bodyFile|escape('js') }}', '{{ gyr.yamlFile.nameFile|escape('js') }}')"></i>
        {% if is_granted('GROUPE_FILE_EDIT', gyr) %}
            <a href="{{ path('modifier_yaml_file_groupe', {"id":gyr.groupe.id,"yamlId": gyr.yamlFile.id}) }}">
                <i class="bi bi-pencil edit-icon" title="Modifier"></i>
            </a>
        {% endif %}
        {% if is_granted('GROUPE_EDIT', gyr.groupe) %}
            <a href="{{ path('yamlfile_deplacer_groupe', {'id': gyr.groupe.id, 'idYamlFile': gyr.yamlFile.id}) }}">
                <i class="bi bi-arrows-move" title="Déplacer"></i>
            </a>
        {% endif %}
        {% if is_granted('GROUPE_FILE_DELETE', gyr) %}
            <button data-groupe-id="{{ gyr.groupe.id }}" data-fichier-id="{{ gyr.yamlFile.id }}" class="supprimerFichierGroupe"
                    data-csrf-token="{{ csrf_token('delete' ~ gyr.groupe.id ~ gyr.yamlFile.id) }}">
                <i class="bi bi-trash bin-icon" title="Supprimer"></i>
            </button>
        {% endif %}
    </div>
</div>