<div class="file-item">
    <div class="file-info">
        <i class="bi bi-file-earmark-text file-icon"></i>
        <span class="file-name"
              title="{{ uyr.file.description }}">
                                    {{ uyr.file.nameFile }}
                                </span>
    </div>
    <div class="file-actions">
        {% if uyr.file.isText %}
            <i class="bi bi-eye view-icon" title="Afficher"
               onclick="afficherContenuTextFile('{{ uyr.file.bodyFile|escape('js') }}')"></i>
            <a href="{{ path('modifierTextFile', {"id": uyr.file.id}) }}">
                <i class="bi bi-pencil edit-icon" title="Modifier"></i>
            </a>
            <a href="{{ path('listVersion', {'textFileId': uyr.file.id}) }}">
                <i class="bi bi-clock-history version-icon" title="Voir les versions"></i>
            </a>
            {% if app.user.vm and app.user.vm.vmStatus == 'ready' and uyr.file.isYaml %}
                <a href="{{ path('deploy_yaml_file', {id: uyr.file.id}) }}"
                   onclick="return confirm('Déployer ce fichier sur votre VM ?');">
                    <i class="bi bi-rocket-takeoff deploy-icon" title="Déployer"></i>
                </a>
            {% endif %}
        {% endif %}

        {% if is_granted('FILE_DOWNLOAD', uyr.file) %}
            <i class="bi bi-share share-icon"
               onclick="openShareModal('{{ uyr.file.id }}', '{{ uyr.file.nameFile }}')"
               title="Partager"></i>
            <i class="bi bi-download download-icon" title="Télécharger"
               onclick="downloadFileById('{{ uyr.file.id }}')"></i>
        {% endif %}

        <a href="{{ path('file_deplacer', {'id': uyr.file.id}) }}">
            <i class="bi bi-arrows-move" title="Déplacer"></i>
        </a>
        <button data-fichier-id="{{ uyr.file.id }}" class="supprimerFichier"
                data-csrf-token="{{ csrf_token('delete' ~ uyr.file.id) }}">
            <i class="bi bi-trash bin-icon" title="Supprimer"></i>
        </button>
    </div>
</div>