{% extends "base.html.twig" %}

{% block title %}<title>Partager un fichier YAML</title>{% endblock %}

{% block page_content %}
    <main class="center basic-form">
        <fieldset>
            <legend>Partager un fichier YAML</legend>

            {{ form_start(formulairePartage) }}
            {{ form_label(formulairePartage.yamlFile) }}
            {{ form_widget(formulairePartage.yamlFile) }}
            {{ form_label(formulairePartage.utilisateur) }}
            {{ form_widget(formulairePartage.utilisateur) }}
            <button type="submit" class="btn">Partager</button>
            {{ form_end(formulairePartage) }}
        </fieldset>
    </main>
{% endblock %}
