{% extends "base.html.twig" %}

{% block title %}<title>Connexion</title>{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/utilisateur/connexion.css') }}">
{% endblock %}

{% block page_content %}
    <div class="auth-wrapper">
        <div class="auth-card">
            <div class="auth-header">
                <h1>Connexion :</h1>
            </div>

            <form action="{{ path('connexion') }}" method="post" class="auth-form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div>
                    <label for="login" class="form-label">Login :</label>
                    <input
                            id="login"
                            type="text"
                            name="_username"
                            value="{{ lastUsername }}"
                            class="form-control"
                            autocomplete="username"
                            required
                            autofocus
                    >
                </div>

                <div>
                    <label for="password" class="form-label">Mot De Passe :</label>
                    <input
                            id="password"
                            type="password"
                            name="_password"
                            class="form-control"
                            autocomplete="current-password"
                            required
                    >
                </div>

                <div class="form-label">
                    <input class="form-check-input" type="checkbox" id="createVm" name="create_vm" value="1">
                    <label class="form-check-label fw-medium" for="createVm">
                        Créer une VM après la connexion
                    </label>
                </div>

                <button type="submit" class="btn-submit">
                    Se Connecter
                </button>

                <div class="auth-footer">
                    <small>
                        Pas Encore Inscrit ?
                        <a href="{{ path('inscription') }}">Créer Un Compte</a>
                    </small>
                </div>
            </form>

        </div>
    </div>
{% endblock %}