{% macro render_tree(nodes) %}
    {% for name, item in nodes %}
        <li class="tree-item">
            {% if item.type == 'tree' %}
                <div class="repertoire-gitlab">
                    <span class="toggle-icon">▼</span>
                    <i class="bi bi-folder-fill folder-icon"></i>
                    <strong>{{ name }}</strong>
                </div>
                {% if item.children is defined %}
                    <ul class="tree-children">
                        {{ _self.render_tree(item.children) }}
                    </ul>
                {% endif %}
            {% else %}
                <div class="tree-file">
                    <i class="bi bi-file-earmark-text file-icon"></i>
                    {{ name }}
                    <div class="file-actions">
                        {% if item.isText %}
                            <i class="bi bi-eye view-icon" title="Afficher"
                               onclick="afficherContenuTextFile('{{ (item.body ?? '')|escape('js') }}')"></i>
                        {% endif %}

                        <i class="bi bi-download download-icon" title="Télécharger"
                           onclick="downloadFileById('{{ item.id }}')"></i>

                        <a href="{{ path('gitlab_importer', { id: item.id }) }}"
                           class="text-success ms-2 icon-action">
                            <i class="bi bi-plus-circle" title="Ajouter au répertoire"></i>
                        </a>
                    </div>
                </div>
            {% endif %}

        </li>
    {% endfor %}
{% endmacro %}
